<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>All students</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="text-center">
			<h1>Thesis Management Application</h1>
		</div>
		<div class="d-flex justify-content-center">
			<a th:href="@{/}" class="btn btn-primary btn-sm mb-3 col-2"> Back to home page </a>
			<a th:href="@{/addNewStudentForm}" class="btn btn-primary btn-sm mb-3 col-2"> Add student </a>
		</div>
		<hr>
		<div class="text-center">
			<h6 th:if="${showInfoText}" th:text="${infoText}"></h6>
		</div>
		<hr>
		<div class="text-center">
			<h5> Filters </h5>
		</div>
		<div class="d-flex justify-content-center">
			<form th:if="${showStudentsButton1}" th:action="@{/students/form}" method="post">
				<button class="btn btn-info btn-sm" type="submit">Show all students</button>
				<!--	<a th:href="@{/students}" class="btn btn-primary btn-sm mb-3"> Show all students </a>-->
			</form>
			<br>
			<form th:if="${showStudentsBlankThesesButton2}" th:action="@{/students/no_theses/form}" method="post">
				<button class="btn btn-info btn-sm" type="submit">Show students with no thesis</button>
				<!--	<a th:href="@{/students/no_theses}" class="btn btn-info btn-sm mb-3"> Show students with no thesis </a>-->
			</form>
			<br>
			<form th:if="${showStudentsWrongThesesButton3}" th:action="@{/students/mismatched_theses_field/form}"
				method="post">
				<button class="btn btn-info btn-sm" type="submit">Show students with
					thesis not matching promoter field of knowledge</button>
				<!--<a th:href="@{/students/mismatched_theses_field}" class="btn btn-info btn-sm mb-3"> Show students with
					thesis not matching promoter field of knowledge </a>-->
			</form>
		</div>
		<hr>
		<div align="center">
			<h2 th:text="${studentsSearchText}"> Students attempting to defend their theses: </h2>
			<table border="1" class="table table-striped table-responsive-md">
				<thead class="thead-light">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Thesis Name</th>
						<th>Promoter Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student : ${listOfStudents}">
						<td th:text="${student?.studentId}"></td>
						<td th:text="${student?.studentName}"></td>
						<td th:text="${student?.studentSurname}"></td>
						<td>
							<a th:text="${student?.thesis?.thesisName}"></a>
							<a th:if="${student.thesis}"
								th:href="@{/thesisDetails/{id}(id=${student?.thesis?.thesisId})}"
								class="btn btn-info btn-sm">Details</a>
							<!--<a th:if="${!student.thesis}"
								th:href="@{/thesisDetails/{id}(id=${student?.thesis?.thesisId})}"
								class="btn btn-info btn-sm">Attach existing thesis</a>-->
						</td>
						<td>
							<a th:text="${student?.promoter?.promoterName}"></a>
							<a th:if="${student.promoter} "
								th:href="@{/promoterDetails/{id}(id=${student?.promoter?.promoterId})}"
								class="btn btn-info btn-sm">Details</a>
							<!--<a th:if="${!student.promoter}"
								th:href="@{/thesisDetails/{id}(id=${student?.thesis?.thesisId})}"
								class="btn btn-info btn-sm">Allocate promoter</a>-->
						</td>
						<td>
							<a th:href="@{/studentUpdateForm/{id}(id=${student.studentId})}"
								class="btn btn-warning btn-sm mb-3">Update</a>
							<a th:href="@{/studentDeleteForm/{id}(id=${student.studentId})}"
								class="btn btn-danger btn-sm mb-3">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>