<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Thesis update</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="text-center">
			<h1>Thesis Management Application</h1>
		</div>
		<div class="d-flex justify-content-center">
			<a th:href="@{/}" class="btn btn-primary btn-sm mb-3 col-2"> Back to home page </a>
			<a th:href="@{/theses}" class="btn btn-primary btn-sm mb-3 col-2"> All theses </a>
		</div>
		<hr>
		<div align="center">
			<h2 class="text-center">Update Thesis</h2>

			<form action="#" th:action="@{/saveThesis}" th:object="${thesis}" method="POST">

				<!-- Add hidden form field to handle update -->
				<input type="hidden" th:field="*{thesisId}" />

				<input type="text" th:field="*{thesisName}" class="form-control mb-4 col-4">

				<input type="text" th:field="*{thesisField}" class="form-control mb-4 col-4">

				<input type="text" th:field="*{thesisType}" class="form-control mb-4 col-4">

				<button type="submit" class="btn btn-info col-2">Update thesis</button>
			</form>
		</div>
	</div>
</body>

</html>